.WidgetHeader {
    position: relative;
    &__hr {
        margin: 8px 0;
    }
    &__title {}
    
    &__icon {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 16px;
        height: 16px;
        cursor: pointer;
        opacity: 0.6;
        transition: opacity 0.3s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}